/* Pokemon.css */
.pokemon-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  select {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .toggle-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .toggle-button:hover {
    background-color: #45a049;
  }
  
  .moves-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 6px 0;
  }
  